@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;    
   
}

.bg_header{
    width: 100vh;
    position: absolute;
    
  
}

.logo{
    
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100px;

}

.h1{
    color: hsl(210, 10%, 33%);
    margin-top: -100px;
}

p{
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}
.btn{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


button{
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;    
    font-weight: 600;
    text-align: center; 
}

.btn1{
    background-color: #27bca6;
    border: 1px solid #1d9f8a;
    box-shadow: 1px 2px #1d9f8a;

 }

.btn2{
    background-color: #6173ff;
    border: 1px solid #5062db;
    box-shadow: 1px 2px #5062db;

}

.h1-2{
    color: hsl(210, 10%, 33%);
    margin-top: 200px;
    



}

h1{
    text-align: center;
    color: hsl(210, 10%, 33%);
    
}

.pc-image{
    margin-top: 100px;
}

.quicksearch{
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 125%;
    left: 70%;
    position: absolute;
    
}

.quickpara{
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 130%;
    left: 73%;
    position: absolute;
}

.icloud{
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 145%;
    left: 70%;
    position: absolute;
}

.icloud-para{
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 150%;
    left: 73%;
    position: absolute;
}

.history{
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 165%;
    left: 72%;
    position: absolute;
}